    <div class="content_post" style="background-image: url(<%= favorite["image"] %>);">
      <div class="more">
        <ul class="more_list">
          <li>
            <p>
            <%= "消費期限: #{favorite["registration_day"].to_date + favorite["period"]}" %>
            </p>
            <p>
            <%= "残り日数: #{favorite["expiration"]}日" %>
            </p>
          </li>
        </ul>
      </div>
    </div>